*.pyc
*.ssh
*.idea
.env
build/
target/
project/target/
project/project/
build.properties
.terraform/
.bloop/
.gradle/
.metals/
.vscode/
metals.sbt
derby.log
metastore_db/
out/
.semanticgraphs/
.DS_Store
.bsp/
*.iml